In [1]:
# This is project will be about comparing queries with python and SQL

In [2]:
import pandas as pd
df= pd.read_csv('Pokemon.csv')
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
#now we have a df which belongs to pokemons, its features are like 
#Type1, Type2, Hp, Attack, Defense ...

#Question 1
#bring the 'name' and 'attack' values then order by desc

#SQL 
# Select name, attack from df order by desc

#Python 
df[['Name','Attack']].sort_values('Attack', ascending = False)

                        Name  Attack
163      MewtwoMega Mewtwo X     190
232  HeracrossMega Heracross     185
424    GroudonPrimal Groudon     180
426    RayquazaMega Rayquaza     180
429       DeoxysAttack Forme     180
..                       ...     ...
139                 Magikarp      10
261                  Blissey      10
230                  Shuckle      10
121                  Chansey       5
488                  Happiny       5

[800 rows x 2 columns]

In [4]:
#question 2 
#get the average number of HP and Attack for each Type1 and Type2

# Sql 
# select city, property, avg(bedrooms), avg(bathrooms) from property_datasets
# group by city, property

#Python
import pandas as pd
df= pd.read_csv('Pokemon.csv')
df.head(5)

#python code is like
df.groupby(['Type 1','Type 2'])[['HP','Attack']].mean().reset_index()
df.groupby(['Type 1','Type 2']).mean()[['HP','Attack']].reset_index()

    Type 1    Type 2         HP      Attack
0      Bug  Electric  60.000000   62.000000
1      Bug  Fighting  80.000000  155.000000
2      Bug      Fire  70.000000   72.500000
3      Bug    Flying  63.000000   70.142857
4      Bug     Ghost   1.000000   90.000000
..     ...       ...        ...         ...
131  Water       Ice  90.000000   83.333333
132  Water    Poison  61.666667   68.333333
133  Water   Psychic  87.000000   73.000000
134  Water      Rock  70.750000   82.750000
135  Water     Steel  84.000000   86.000000

[136 rows x 4 columns]

In [46]:
#question 3
#Create a column and specify 'stgong','weak' by looking 'Attack' (threshold 100)

#SQL
# Select name, Attack,  
# Case
#     When Attack > 80 Then 'Powerful'
#     When Attack > 50 Then 'Strong'
#     Else 'Weak'
# end as Power_status
# From Pokemon

#Python
# df.drop(columns = ['Power_status'],inplace = True)
for i in df['Attack']:
    if i > 100 :
        df.loc [ df['Attack'] >= 100, ['Power_status']] = ['Strong']
    else :
        df.loc [ df['Attack'] < 100, ['Power_status']] = ['weak']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Power_status
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,weak
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Strong
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Strong
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Strong
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Strong
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Strong